@model MVCLibrary.ViewModels.HomeViewModel


<div class="text-center">
    <br />

    @Html.ActionLink("Wszystkie książki", "AllBooks", "Home", new { area = "" }, new { @class = "btn btn-success btn-adm-width" })

    <br />
    <div class="text-center">
        <h3>Wyszukaj książki</h3>
        <br />
        @using (Html.BeginForm("SearchBooks", "Home", FormMethod.Post, new { encype = "multipart/form-data", runat = "server" }))
        {
            <label for="value">Tytuł, Autor, ISBN</label>
            <br />
            <input type="text" name="value" class="inputs-size-bigger edittext-width" />
            <br />
            <input type="submit" class="btn btn-success" style="margin: 10px;" value="Szukaj" />
        }
    </div>
    <br />
    <div class="text-center">
        <h3>Wyszukaj książki po kategorii</h3>
        <br />
        @using (Html.BeginForm("SearchBooksByCategory", "Home", FormMethod.Post, new { encype = "multipart/form-data", runat = "server" }))
        {
            <label for="value">Kategoria</label>
            <br />
            <input type="text" name="value" class="inputs-size-bigger edittext-width" />
            <br />
            <input type="submit" class="btn btn-success" style="margin: 10px;" value="Szukaj" />
        }
    </div>

</div>
<br />

<div class="text-center">
    <h3>Wiadomości</h3>
    <br />
    @foreach (var message in Model.Messages)
    {
        <div class="text-center">
            <div style="width: 500px !important; margin-left: auto; margin-right: auto;">
                <h4>@message.Title</h4>
                <span>@message.Content</span>
            </div>
        </div>

        <br />
        <br />
    }
    <br />
    <br />

    <h3>Nowości</h3>



</div>

<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Ilość</th>
            <th>Na stanie</th>
            <th>Kategoria</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model.Books)
            {
            <tr>
                <td>@book.ISBN</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.CountBooks</td>
                <td>@book.BooksInLibrary</td>
                <td>@book.Category</td>
                @if (User.Identity.IsAuthenticated && book.BooksInLibrary > 0)
                {
                    <td>@Html.ActionLink("Dodaj do koszyka", "AddProductToCart", new { id = book.Id }, new { @class = "btn btn-default" })</td>
                }
            </tr>
        }

    </tbody>
</table>