@model MVCLibrary.ViewModels.SpecimenViewModel

@{
    ViewBag.Title = "AddSpecimen";
}

<div class="text-center">
<h2>Dodaj egzemplarze</h2>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="text-center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })<br/>
        <div class="text-center hide">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "text-center" })<br />
            <div class="text-center">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "text-center" } })<br />
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })<br />
            </div>
        </div>

        <div class="text-center">
            @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "text-center" })<br />
            <div class="text-center">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "text-center" } })<br />
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })<br />
            </div>
        </div>

        <div class="text-center">
            <div class="text-center">
                <input type="submit" value="Dodaj" class="btn btn-success" />
            </div>
        </div>
    </div>
}

