@model MVCLibrary.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

<div class="text-center">
    <h3>Logowanie</h3>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="text-center">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="text-center">
            @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "text-center" })
            <br/>
            <div class="text-center">
                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "text-center edittext-width" } })
                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="text-center">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "text-center" })
            <br />
            <div class="text-center">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "text-center edittext-width" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="text-center">
            @Html.LabelFor(model => model.RememberMr, htmlAttributes: new { @class = "text-center" })
            <br />
            <div class="text-center">
                <div class="text-center">
                    @Html.EditorFor(model => model.RememberMr)
                    @Html.ValidationMessageFor(model => model.RememberMr, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="text-center">
            <div class="text-center">
                <input type="submit" value="Zaloguj się" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
